@using MvcProjectCV.Models.Entity
@model List<SocialMedia>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{string status = ""; }

<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">My Social Media Accounts</h3>
                            </div>
                            <div class="card-body">
                                <button class="btn btn-primary" data-toggle="modal" data-target="#Modal1">Add new social media account</button>
                                <br />
                                <br />
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>Social Media</th>
                                            <th>Status</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var x in Model)
                                        {
                                            <tr>
                                                <td>@x.ID</td>
                                                <td>@x.Name</td>
                                                @if (x.Status == true)
                                                {
                                                    status = "Active";
                                                }
                                                else
                                                {
                                                    status = "Passive";
                                                }
                                                <td>@status</td>
                                                <td>
                                                    <a class="btn btn-info btn-sm" href="/SocialMedia/GetPage/@x.ID"><i class="fas fa-pencil-alt"></i>Edit</a>
                                                </td>
                                                <td>
                                                    <a class="btn btn-danger btn-sm" href="/SocialMedia/Delete/@x.ID"><i class="fas fa-trash"></i>Sil</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->

        <div class="modal" id="Modal1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="fa-hourglass-2">Social Media Submit Panel</h2>
                    </div>
                    <form method="post" action="/SocialMedia/Add">
                        <div class="modal-body">
                            <label>Social Media Name</label>
                            <input type="text" name="Name" class="form-control" />
                            <br />
                            <label>Social Media Link</label>
                            <input type="text" name="Link" class="form-control" />
                            <br />
                            <label>Social Media Icon</label>
                            <input type="text" name="Icon" class="form-control"/>
                            <br />
                            <button class="btn btn-success">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

